<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>Mi primer sitio web</h1>
    <h2>Una imagen</h2>
    <img src="/img/daftPunk.jpg" alt="Es una imagen de Daft Punk">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facere tenetur assumenda accusantium. Consectetur, itaque molestiae ut nam quisquam perspiciatis in sequi, animi iusto aliquam ab maxime tenetur quae illo.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At dignissimos cupiditate dolores possimus perspiciatis ratione impedit similique dolor ducimus? Aliquam nostrum nam exercitationem inventore quo dolore eligendi distinctio temporibus laborum?</p>
    <a href="https://www.google.com/">Ir a Google</a>
</body>
</html>